* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1024px;
    margin: 0 auto;
}
header {
    background: #deaee7;
    padding: 20px;
    border-radius: 20px;
}
.header_nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
}

.header_nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Rubik Storm', cursive;
}

.main_information {
    display: flex;
    
}

.main_name {
    font-family: 'Rubik Storm', cursive; 
    text-align: center;
    padding-top: 90px;
}

.others {
    font-family: 'Rubik Storm', sans-serif;
}
.sentence_1 {
    margin-bottom: 15px;
}
.main_information_2 {
    background: #aed8e7;
    padding: 20px;
    border-radius: 20px;
}
.sentence_1 ul {
    padding-left: 30px;
    padding-top: 10px;
}
.footer_wrap {
    background-color: #deaee7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
}